/home/maja/Documents/Uni/ECCH/BookletBuilder/BookletBuilder_guide.aux
/home/maja/Documents/Uni/ECCH/BookletBuilder/BookletBuilder_guide.log
/home/maja/Documents/Uni/ECCH/BookletBuilder/BookletBuilder_guide.out
/home/maja/Documents/Uni/ECCH/BookletBuilder/BookletBuilder_guide.synctex.gz
/home/maja/Documents/Uni/ECCH/BookletBuilder/booklet_title_csv.png
/home/maja/Documents/Uni/ECCH/BookletBuilder/booklet_title_csv_plain.png
/home/maja/Documents/Uni/ECCH/BookletBuilder/example.png
/home/maja/Documents/Uni/ECCH/BookletBuilder/Screenshot_20250212_194407.png
/home/maja/Documents/Uni/ECCH/BookletBuilder/TeXMaker.png
